
//=========================
// CUSTOM PRELOADER
//=========================

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99999999;
    width: 100%;
    height: auto;
}

#status {
    width: 120px;
    height: 120px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    // padding: 25px;
    padding: 35px 20px 20px;
    text-align: center;
}

#status:before {
    content: "";
    position: absolute;
    pointer-events: none;
    width: 100% !important;
    height: 100% !important;
    left: 0;
    top: 0;
    opacity: 1;
    bottom: 0;
    right: 0;
    margin: auto;
    border-bottom: 2px solid $clrMain;
    border-radius: 50%;
    -webkit-animation: rotating 6s linear infinite;
    animation: rotating 6s linear infinite;
}

#status:after {
    content: "";
    position: absolute;
    pointer-events: none;
    width: 90%;
    height: 90%;
    left: 0;
    top: 0;
    opacity: 1;
    bottom: 0;
    right: 0;
    margin: auto;
    border-top: 2px solid $clrMain;
    border-radius: 50%;
    -webkit-animation: rotatingn 6s linear infinite;
    animation: rotating 6s linear infinite;
}

#status img {
    max-width: 100%;
    width: auto;
    height: auto;
    margin: auto;
    display: block;
    padding-top: 15px;
}

@keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}


//=========================
// BACK TO TOP
//=========================

#toTop {
    position: fixed;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    display: none;
    z-index: 999;

    &:hover {
        bottom: 20px;
    }
}

.back-to-top {
    background: $clrMain;
    color: $clrdefault;
    font-size: 13px;
    display: inline-block;
    text-align: center;
    transition: $transition;
    height: 40px;
    width: 40px;
    border-radius: 2px;
    line-height: 42px;
}






