$fontJosefin: 'Josefin Sans';
$fontRoboto: 'Roboto';
$fontNiconne: 'Niconne';


$fontLight: 300;
$fontRegular: 400;
$fontMid: 500;
$fontSemi: 600;
$fontBold: 700;
$transition: .3s linear;

// colors
$clrBlack: #000000;
$clrdefault : #fff;
$clrMain : #ff5e14;  
// $clrMain : #6483da;  
$clrSecondary : #ff5e14;  
$clrheading : #1d3271; 
$clrPrimary: #7c7770;
$clrbg: #f5f6f6;