// Blog Section Start

.blog-item {
    background: $clrdefault;
    box-shadow: 0px 2px 22px rgba(93, 93, 93, 0.13);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 30px;
    transition: $transition;
    .image {
        @include video-box;
        img {
            border-radius: 5px;
        }
    }
    .item-content {
        padding: 15px;
        h5 {
            font-family: $fontRoboto;
            font-size: 15px;
            font-weight: $fontMid;
            color: $clrPrimary;
            display: inline-block;
            position: relative;
            margin-bottom: 10px;
            margin-right: 25px;

            &::after {
                content: "";
                position: absolute;
                top: 11px;
                right: -10px;
                height: 6px;
                width: 6px;
                background-color: $clrMain;
                border-radius: 50%;
            }
        }
        h4 {
            line-height: 27px;
            a {
                color: $clrheading;
                display: inline-block;
                text-transform: capitalize;
                transition: $transition;

                &:hover {
                    color: $clrMain;
                }
            }
        }
        p {
            margin: 10px 0px 15px;
        }
        .meta-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 15px 0px;
            border-bottom: 1px solid #e8e8e8;
            border-top: 1px solid #e8e8e8;
            span, a {
                font-family: $fontRoboto;
                font-size: 15px;
                display: inline-block;
                color: $clrPrimary;
                transition: $transition;
                i {
                    color: $clrMain;
                    margin-right: 10px;
                    display: inline-block;
                }

                &:hover {
                    color: $clrMain;
                }
            }
        }
        @include respond (phone-xm) {
            padding: 12px 0px;
        }
    }
    &:hover {
        transform: translateY(-5px);
    }
}