
/* ==========================
    PARTNET START
============================ */

.partner-section {
    padding: 90px 0px;
    img {
        width: auto !important;
        height: auto;
        display: block;
    }
}

@media (max-width: 767px) {
    .icon-box-item {
        margin-top: 50px;
    }
}

/* ==========================
    PARTNET END
============================*/ 
