// Service Start

.service-content {
    display: flex;
    align-items: center;
    background: $clrdefault;
    padding: 20px 15px;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 22px rgba(93, 93, 93, 0.13);
    transition: $transition;

    @include respond(phone-sm) {
      display: block;
      text-align: center;
      padding: 30px 15px;
    }
    .icon-box {
		height: 70px;
		width: 70px;
		border-radius: 50%;
		background: $clrdefault;
		box-shadow: 0px 2px 22px rgba(93, 93, 93, 0.13);
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			width: 40px;
			height: auto;
			display: block;
		}
		@include respond(phone-sm) {
			margin: 0px auto 20px;
		}
    }
	.content {
		margin-left: 15px;
		flex: 1;

		h5 {
			margin-bottom: 3px;
			a {
				color: $clrheading;
				transition: $transition;
			}
			@include respond(phone-sm) {
				font-size: 22px;
				margin-bottom: 10px;
			}
		}
		p {
			font-size: 15px;
			transition: $transition;
		}
	}
	&:hover {
		background: $clrMain;

		h5 a, p {
			color: $clrdefault;
		}
	}

	&.v2 {
		display: block;
		text-align: center;
		padding: 40px 15px;

		.icon-box {
			margin: 0px auto 20px;
		}
		h5 a {
			font-size: 22px;
			margin-bottom: 20px;
		}
		.content {
			margin-left: 0;
		}
	}
	&:hover {
        transform: translateY(-5px);
    }
}

.service-img {
	img {
		width: 100%;
		height: auto;
		display: block;
		margin: 0 auto;
		@include respond(phone) {
		width: 100%;
		}
	}
	@include respond(tabland) {
		margin-bottom: 30px;
	}
}





// Filp Box

.service-content.v3 {
	background: transparent;
	box-shadow: none;
	perspective: 1000px;
	padding: 0;

	.flip-inner {
		position: relative;
		transition: all .6s linear;
		transform-style: preserve-3d;

		.flip-front {
			// background: linear-gradient(#08aeea, #2af598);
			background: $clrdefault;
			box-shadow: 0px 2px 22px rgba(93, 93, 93, 0.13);
			z-index: 2;
			backface-visibility: hidden;
			padding: 40px 15px;
			border-radius: 5px;
		}
		.flip-back {
			position: absolute;
			top: 0;
			// background: linear-gradient(#f8da61, #ff5acd);
			box-shadow: 0px 2px 22px rgba(93, 93, 93, 0.05);
			background: $clrMain;
			z-index: 1;
			transform: rotateY(180deg);
			display: flex;
			align-items: center;
			padding: 40px 15px;
			height: 100%;
			border-radius: 5px;

			.cta-btn {
				margin-top: 25px;
				.gs-btn-primary {
					border-color: $clrdefault;
					color: $clrdefault;
					
					&:hover {
						background: $clrdefault;
						color: $clrheading;
					}
				}
			}
		}
	}
	&:hover .flip-inner {
		transform: rotateY(180deg);
	}
}






