/* ==========================
   TESTIMONIAL SECTION START 
============================*/

.testimonial-section {
	background-image: url('../images/testimonial/map-bg.jpg');
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;

	&::after {
		@include banner-bg;
		background: rgba(0, 0, 0, 0.1);
	}
}

.test-item {
	background: #f9f9f9;
	padding: 40px 30px;
	border-radius: 10px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, .2);
	margin-bottom: 30px;

	.quote {
		font-size: 60px;
		color: $clrMain;
		position: absolute;
		top: 5px;
		opacity: .1;
	}

	.content {
		display: flex;
		align-items: center;
		margin-top: 30px;

		.icon {
			img {
				height: 60px;
				width: 60px;
				display: block;
				border-radius: 50%;
			}
		}

		.title {
			margin-left: 16px;

			h4 a {
				font-size: 20px;
				color: $clrheading;
				line-height: 20px;
				transition: $transition;

				&:hover {
					color: $clrMain;
				}
			}
			span {
				font-family: $fontRoboto;
				font-size: 15px;
				color: $clrMain;
				font-weight: $fontMid;
			}
		}
	}
}


/* ==========================
   TESTIMONIAL SECTION END 
============================*/
