// Video Bg Start

.video-area {
    background: $clrdefault;
    box-shadow: 0px 2px 22px rgba(93, 93, 93, 0.13);
    border-radius: 10px;
    padding: 10px;
    @include video-box;

    .round {
        border-radius: 10px;

        &::before {
            background: transparent;
        }
    }
}

.video-bg-section {
    &.v2 {
        background: url('../images/video-bg/2.jpg');
        @include banner-size;
        @include video-box;
        padding: 16% 0 !important;
        background-attachment: fixed;

        .round {
            overflow: inherit;
            &::before {
                background: transparent;
            }
        }

        @include respond (phone-sm) {
            padding: 20% 0px !important;
        }
    }
}